@tailwind base;
@tailwind components;
@tailwind utilities;
<<<<<<< HEAD
=======

/* Tus estilos personalizados abajo */
.navbar-custom {
    /* El !important es útil si Bootstrap está cargando después y sobreescribe */
    background-color: rgb(184, 179, 83) !important; 
}
>>>>>>> b5b51b0bb45621dde3866f7afb008d296d778214
